[submodule "dependencies/pybind11-adapter"]
	path = dependencies/pybind11-adapter
	url = https://github.com/njoy/pybind11-adapter.git
[submodule "dependencies/ENDFtk"]
	path = dependencies/ENDFtk
	url = https://github.com/njoy/ENDFtk.git
